/* 背景渐变 */
body {
    background: linear-gradient(
        90deg,
        #ffe4f2 0%,
        #f0f8ff 50%,
        #dbeeff 100%
    );
}

/* 页面居中 */
.page-content {
    max-width: 800px;
    margin: auto;
}

/* 图片卡片化 */
.page-content img {
    width: 100%;
    border-radius: 18px;
    margin-top: 40px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* 图注美化 */
.page-content p {
    background: rgba(255,255,255,0.8);
    padding: 15px 20px;
    border-radius: 0 0 18px 18px;
    margin-top: -5px;
    margin-bottom: 30px;
    font-style: normal;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}